body {
  display: grid;
  align-items: center;
  justify-items: center;
  background-color: brown;
  text-align: center;
}
header {
  margin-top: 20px;
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000,
    5px 5px 9px 5px rgba(0, 0, 0, 0);
  width: 300px;
  height: 200px;
  background-color: aliceblue;
  color: brown;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
.contenido {
  background-color: azure;
  -webkit-box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 6px 8px rgba(0,0,0,0); 
box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 6px 8px rgba(0,0,0,0);
  border-radius: 10px;
}
